@font-face {
  font-family: Objective;
  src: url(/font/Obective/Objective_OTF/Objective-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Objective;
  src: url(/font/Obective/Objective_OTF/Objective-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Objective;
  src: url(/font/Obective/Objective_OTF/Objective-Bold.otf);
  font-weight: 700;
}
